{% extends 'base.html' %}

{% block title %}
    <title>About $ Blog</title>
{% endblock title %}

{% block content %}
    <div class="container">
        <div class="jumbotron" align="center">
            <h1>About My Blog</h1>
        </div>

        <div class="">
            <p>Hello guys. Welcome to the my blog. This is a blog I built from scratch 
            with the help of the udemy course I took on web development (front-end and back-end).
            It has certainly been a long journey but I never gave up.
            So, once again, <b>Welcome!!</b>, and I hope you enjoy my posts.</p>
            <small>Cheers!!!</small>
        </div>
    </div>
{% endblock content %}